
body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f4efe6;
    margin: 0;
    padding: 20px;
}


h1 {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    font-size: 2.2rem;
}


h2 {
    font-family: 'Lora', serif;
    text-align: center;
}


p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}


.red {
    color: darkred;
    font-family: 'Lora', serif;
}

.centered {
    text-align: center;
    font-weight: bold;
}


.italic {
    font-style: italic;
}


.mountain-image img {
    width: 100%;
    border-radius: 10px;
}