img {
            width: 75;
}

body {
    background-color: rgb(143, 175, 224);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight:bold;

    
}

h1 {
   font-family: Nabla;
}

div.yellow {
    background-color: yellow;
    display: inline-block;
    width: 250px;
}
